<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Phonebook application</title>

    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href= "https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
<div id="wrapper" align="center">
    <div id="splash" >
        <img src="images/header.jpg" alt="" />
    </div>

    <div id="header">
        <div id="logo">
            <h1><a href="/">Phonebook application</a></h1>
        </div>

    </div>

    <br>
    <!--<div id="page">-->
        <div class="container" style="width:900px;" align="center">
            <div th:if="${not #lists.isEmpty(contacts)}">
                <h2>List of entries</h2>
                <table id="dataTable" class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Phone number</th>
                        <th>E-mail</th>
                        <th>Creation date</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.id}"></td>
                        <td th:text="${contact.name}"></td>
                        <td th:text="${contact.surname}"></td>
                        <td th:text="${contact.phoneNumber}"></td>
                        <td th:text="${contact.email}"></td>
                        <td th:text="${contact.creationDate}"></td>
                        <td><a th:href="${ '/contact/' + contact.id}" class="btn btn-primary btn-sm btn-info">Info</a></td>
                        <td><a th:href="${ '/contact/edit/' + contact.id}" class="btn btn-primary btn-sm btn-info">Edit</a></td>
                        <td><a th:href="${ '/contact/delete/' + contact.id}" class="delete btn btn-primary btn-sm btn-danger" type="button" data-title="Warning!" >Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <a th:href="@{'/contact/new'}" class="btn btn-primary btn-sm btn-info">Add new entry</a>

        </div>
        <div id="content">
        </div>
        <br class="clearfix" />
    </div>
<!--</div>-->
<div id="footer">
    &copy; Matko Sorić
</div>

</body>
</html>
