<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Kontakti Aplikacija</title>

    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href= "https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>

<body>
<div id="wrapper" align="center">
    <div id="splash">
        <img th:src="@{/images/header.jpg}" alt="" />
    </div>

    <div id="header">
        <div id="logo">
            <h1><a href="/">Aplikacija Kontakti</a></h1>
        </div>
    </div>
    <br>
    <br>
    <h2>Entry details</h2>

    <div class="container" >
            <table align="center" width="100%">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Id: </td>
                    <td><input type="text" th:field="${contact.id}" disabled="true" /></td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" th:field="${contact.name}" disabled="true"/></td>
                </tr>
                <tr>
                    <td>Surname: </td>
                    <td><input type="text" th:field="${contact.surname}" disabled="true"/></td>
                </tr>
                <tr>
                    <td>Phone number: </td>
                    <td><input type="text" th:field="${contact.phoneNumber}"  disabled="true"/></td>
                </tr>
                <tr>
                    <td>E-mail: </td>
                    <td><input type="text" th:field="${contact.email}"  disabled="true"/></td>
                </tr>
                <tr>
                    <td>Creation date: </td>
                    <td><input type="date" th:field="${contact.creationDate}" disabled="true"/></td>
                </tr>
            </table>

            <br>

        <a th:href="@{|/contact/edit/*{id}|}" class="btn btn-primary btn-sm btn-info">Edit</a>
        <a th:href="@{|/contact/delete/*{id}|}" class="delete btn btn-primary btn-sm btn-danger" data-title="Warning!" >Delete</a>
        <a th:href="@{'/contact/new'}" class="btn btn-primary btn-sm btn-info">Add new entry</a>

        <br>
        <br>
        <br>
    </div>



</div>
</div>
<div id="footer">
    &copy; Matko Sorić
</div>

</body>
</html>
